.vscode/
MLP/SRC/weights/trained_vit.pth
MLP/SRC/weights/trained_vit.pth
src/weights/weights.cpp
src/sw/weights.cpp
MLP/SRC/weights/weights.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# user project settings vscode
.vscode 

# aux output files 
*.vcd
*.wav

# avoid standard files that will be created during comp/sim
sw/gemm_tb/gemm_tb
sw/vector_processor_tb/vector_testbench
hw/zynq_demo
hw/testbench

MLP/SRC/weights/trained_vit.pth
src/weights/weights.cpp
src/sw/weights.cpp
MLP/SRC/weights/weights.h

.DS_Store